.nav{
    text-align: center;
    padding: 5px 0px;
    background-color: #0686FF;
}
.nav-list{
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-left: 20px;
    padding: 18px 5px;
}
.nav-list:hover{
    color: white;
    background-color: darkblue;
    background-size: cover;
    border-radius: 5px 30px 5px 30px;
}
.header-logo{
    width: 65px;
}